/*
 * 	TEST PROJECT CONFIG
 *		inputs file for test project
 *
 ***********************************************
 ***********************************************/

params {

	/* useful directory paths */
    sadaccDir       = '/mnt/lustre/groups/CBBI1243/SADaCC/'
	containersDir 	= params.sadaccDir + 'containers/'
    referenceSeqDir = params.sadaccDir + 'reference-sequence-data/'
    snvIndelDir     = params.sadaccDir + 'sequence-analysis-workflows/snv-indel/'

    projectDir      = '/mnt/lustre/users/jmorrice/learning/genome-in-a-bottle/'
	rawReadsDir 	= params.referenceSeqDir + 'genome-in-a-bottle/NA24385/fastq/'
	outputDir 		= params.projectDir + 'output/'
    tempDir         = params.projectDir + 'temp/'

	/* container image paths */
	fastqcImage 		= params.containersDir + 'fastqc_0.11.9.sif'
	trimmomaticImage 	= params.containersDir + 'trimmomatic_0.39.sif'
	trimmomaticJar		= '/usr/local/share/applications/Trimmomatic-0.39/trimmomatic-0.39.jar' // only valid *inside* the SIA trimmomatic container
    bamstatsImage       = params.containersDir + 'bamstats_1.25.sif'
    bamstatsJar         = '/usr/local/share/applications/BAMStats-1.25/BAMStats-1.25.jar' // only valid *inside* the SIA BAMStats container
	gatk4Image			= params.containersDir + 'gatk_latest.sif'
	samtoolsImage		= params.containersDir + 'samtools_1.11.sif'
	bcftoolsImage		= params.containersDir + 'bcftools_1.11.sif'
	sambambaImage		= params.containersDir + 'sambamba:0.7.1--h984e79f_3'
	bwaImage			= params.containersDir + 'bwa_0.7.17.sif'
	simulatorImage		= params.containersDir + 'sequence-simulator_0.2.sif'

	/* reference sequence */
	referenceSequence = [
		'dir': params.referenceSeqDir + 'GRCh37/',
		'label': 'GRCh37',
		'path': params.referenceSeqDir + 'GRCh37/' + 'GRCh37.fa.gz'
	]

	// cohort data
	cohortId = 'MPHG002'
	readFilePairGlob = params.cohortId + '_S1_L001_R{1,2}_001.fastq.gz'

	// simulation arguments
	nSamples 			= 3
	simulationInputs	= params.projectDir + 'simulationInputs.json'

	// computer/server options
	nThreadsPerProcess = 16
    serverOptions = [
        'projectName':  'CBBI1243',
        'nNodes':       1,
        'nCpus':        16,
        'queue':        'serial',
        'time':         '16:00:00',
        'memory':       '16gb'
    ]
    clusterOptions = \
        "-P ${serverOptions['projectName']} " + \
        "-l select=${serverOptions['nNodes']}:ncpus=${serverOptions['nCpus']}:mem=${serverOptions['memory']}"

    processConfigFile = params.snvIndelDir + 'processConfig-chpc.sh'

	// trimmomatic options
	trimLeadX 				= 0
	trimTrailX 				= 0
	trimMinAverageQuality 	= 1
	trimMinReadLength 		= 40
}

process.executor = 'pbspro'

singularity {
	enabled = true
}
