/*
 * 	TEST-PROJECT CONFIG
 *		inputs file for test-project
 *
 ***********************************************
 ***********************************************/

params {

	test = 'hello'

	/* locations */
	projectDir 		= '/home/jackmo/computer/genemap/test-project/'
	containersDir 	= '/home/jackmo/computer/genemap/containers/'
	tempDir			= params.projectDir + 'temp/'

	/* Containers */
	fastqcImage 		= params.containersDir + 'fastqc:0.11.9--0'
	trimmomaticImage 	= params.containersDir + 'trimmomatic:0.39--1'
	trimmomaticJar		= '/usr/local/share/trimmomatic-0.39-1/trimmomatic.jar' 
		// this jar file only exists inside the trimmomatic container
	gatk4Image			= params.containersDir + 'gatk_latest.sif'
	samtoolsImage		= params.containersDir + 'samtools:1.9--h91753b0_8'
	sambambaImage		= params.containersDir + 'sambamba:0.7.1--h984e79f_3'
	bwaImage			= params.containersDir + 'bwa:0.7.8--hed695b0_5'

	/* workflow input */
	rawReadsDir 			= '/home/jackmo/computer/genemap/sequence-data/lambda_virus/reads/'
	referenceSequence 		= [
		'dir': '/home/jackmo/computer/genemap/sequence-data/lambda_virus/references/',
		'label': 'lambda_virus',
		'path': '/home/jackmo/computer/genemap/sequence-data/lambda_virus/references/lambda_virus.fa'
	] 
	outputDir 				= params.projectDir + 'output/'

	// resources
	threads = 8

	// trimmomatic
	trimLeadX 				= 0
	trimTrailX 				= 0
	trimMinAverageQuality 	= 1
	trimMinReadLength 		= 40
}

singularity {
	enabled = true
}
