/*
 * 	TEST PROJECT CONFIG
 *		inputs file for test project
 *
 ***********************************************
 ***********************************************/

params {

	/* useful directory paths */
    sadaccDir       = '/mnt/lustre/groups/CBBI1243/SADaCC/'
	containersDir 	= params.sadaccDir + 'containers/'
    referenceSeqDir = params.sadaccDir + 'reference-sequence-data/'

    projectDir      = '/mnt/lustre/users/jmorrice/learning/test-nextflow/'
	rawReadsDir 	= params.projectDir + 'reads/'
	outputDir 		= params.projectDir + 'output/'
    tempDir         = params.projectDir + 'temp/'

	/* container image paths */
	fastqcImage 		= params.containersDir + 'fastqc:0.11.9--0'
	trimmomaticImage 	= params.containersDir + 'trimmomatic:0.39--1'
	trimmomaticJar		= '/usr/local/share/trimmomatic-0.39-1/trimmomatic.jar' // only valid *inside* the trimmomatic container
	gatk4Image			= params.containersDir + 'gatk_latest.sif'
	samtoolsImage		= params.containersDir + 'samtools_1.11.sif'
	bcftoolsImage		= params.containersDir + 'bcftools_1.11.sif'
	sambambaImage		= params.containersDir + 'sambamba:0.7.1--h984e79f_3'
	bwaImage			= params.containersDir + 'bwa_0.7.17.sif'
	simulatorImage		= params.containersDir + 'sequence-simulator_0.2.sif'

	/* reference sequence */
	referenceSequence = [
		'dir': params.referenceSeqDir + 'lambda_virus/',
		'label': 'lambda_virus',
		'path': params.referenceSeqDir + 'lambda_virus/' + 'lambda_virus.fa'
	]

	// cohort data
	cohortId = 'C1'
	readFilePairGlob = params.cohortId + '_**_R{1,2}.fq'

	// simulation arguments
	nSamples 			= 3
	simulationInputs	= params.projectDir + 'simulationInputs.json'

	// computer/server options
	threads = 1
    serverOptions = [
        'projectName':  'CBBI1243',
        'nNodes':       1,
        'nCpus':        1,
        'queue':        'serial',
        'time':         '15m',
        'memory':       '8G'
    ]

    clusterOptions = \
        "-P CBBI1243 " + \
        "-l select=1:ncpus=1:mem=8g"
    processConfigFile = params.projectDir + 'processConfig.sh'

	// trimmomatic options
	trimLeadX 				= 0
	trimTrailX 				= 0
	trimMinAverageQuality 	= 1
	trimMinReadLength 		= 40
}

process.executor = 'pbspro'

singularity {
	enabled = true
}
