params {

	/* data directory paths */
	rawReadsDir 	 = launchDir + '/data/raw-reads'
	trimmedReadsDir  = launchDir + '/data/trimmed-reads'
	alignedReadsDir  = launchDir + '/data/aligned-reads'
	variantSetsDir   = launchDir + '/data/variant-sets'
	qualityReportsDir= launchDir + '/data/quality-reports'
	tempDir 		 = launchDir + '/data/temp'

	containersDir 	= '/home/jackmo/computer/genemap/containers/'

	/* container image paths */
	fastqcImage 		= params.containersDir + 'fastqc_0.11.9.sif'
	trimmomaticImage 	= params.containersDir + 'trimmomatic:0.39--1'
	trimmomaticJar		= '/usr/local/share/trimmomatic-0.39-1/trimmomatic.jar' // only valid *inside* the trimmomatic container
	gatk4Image			= params.containersDir + 'gatk_latest.sif'
	samtoolsImage		= params.containersDir + 'samtools_1.11.sif'
	bcftoolsImage		= params.containersDir + 'bcftools_1.11.sif'
	bwaImage			= params.containersDir + 'bwa_0.7.17.sif'
	simulatorImage		= params.containersDir + 'sequence-simulator_0.2.sif'

	snvIndelDir		= '/home/jackmo/computer/genemap/saw.snv-indel/'
	toolsDir		= params.snvIndelDir + 'tools/'
}

singularity {
	enabled = true
}
