/*
 * 	TEST-PROJECT CONFIG
 *		inputs file for test-project
 *
 ***********************************************
 ***********************************************/

params {

	/* reference sequence */
	referenceSequence['dir'] 	= '<full path to lambda virus reference seq. directory>'
	referenceSequence['label'] 	=  'lambda_virus'
	referenceSequence['path'] 	= referenceSequence['dir'] + '/lambda_virus.fa'

	// cohort data
	cohortId = "C1"
	readFilePairGlob = params.cohortId + "_**_R{1,2}.fq"
	sequencingPlatform = 'illumina'
	runId = '1234'
	
	// simulation arguments
	nSamples 			= 2
	simulationInputs	= launchDir + '/simulation-inputs.json'

	baseQualityRecalibrationTable = 'null'

	// trimmomatic options
	trimLeadX 				= 0
	trimTrailX 				= 0
	trimMinAverageQuality 	= 1
	trimMinReadLength 		= 40
}

executor {
    name = 'pbspro'
}

process {
    beforeScript = 'module load chpc/singularity/3.5.3'
    clusterOptions = "-P <CHPC project id> -l select=1"

	withLabel: withMaxCpus		{ cpus = 4 }
	withLabel: withMinCpus 		{ cpus = 1 }
	withLabel: withMaxMemory 	{ memory = '2G' }
	withLabel: withMinMemory 	{ memory = '1G' }
	withLabel: withMaxTime 		{ time = '00:20:00' }
	withLabel: withMinTime 		{ time = '00:10:00' }
}
