params {

    /* data directory paths */
    rawReadsDir      = launchDir + '/data/raw-reads'
    trimmedReadsDir  = launchDir + '/data/trimmed-reads'
    alignedReadsDir  = launchDir + '/data/aligned-reads'
    variantSetsDir   = launchDir + '/data/variant-sets'
    qualityReportsDir= launchDir + '/data/quality-reports'
    tempDir          = launchDir + '/data/temp'

    /* container image paths */
    containersDir   = '<full path to containers directory>'

    fastqcImage         = params.containersDir + 'fastqc_0.11.9.sif'
    trimmomaticImage    = params.containersDir + 'trimmomatic_0.39.sif'
    trimmomaticJar  = '/usr/local/share/applications/Trimmomatic-0.39/trimmomatic-0.39.jar' // only valid *inside* the SIA trimmomatic container
    bamstatsImage   = params.containersDir + 'bamstats_1.25.sif'
    bamstatsJar         = '/usr/local/share/applications/BAMStats-1.25/BAMStats-1.25.jar' // only valid *inside* the SIA BAMStats container
    gatk4Image          = params.containersDir + 'gatk_latest.sif'
    samtoolsImage   = params.containersDir + 'samtools_1.11.sif'
    bcftoolsImage   = params.containersDir + 'bcftools_1.11.sif'
    bwaImage            = params.containersDir + 'bwa_0.7.17.sif'
    simulatorImage  = params.containersDir + 'sequence-simulator_0.2.sif'
}

singularity {
    enabled = true
}
